<h3>行銷大數據概論</h3>

<div>
    1.能駕馭、能操作、能描述、能預測、能制訂
    2.知其然不知其所以然，講話要有數據的支持
    3.被動行銷:reactive,尋找需求，給予滿足，尋求動機，轉換為廣告內容
    4.主動行銷:改變以及影響消費者的行為
    5.互動式行銷:建立資料庫，藉由歷史來判斷消費者的即時反應，形成客製化行銷，並且在統計概念中帶入時間觀念
    6.連鎖式行銷:透過網頁瀏覽行為建模預測</div>

<h3>行銷資料庫建立</h3>

<div>
    1.管理資訊系統(Management Information System, MIS)
    2.企業資源規劃系統(Enterprise Resources Planning System, ERP)
    ex:物料、人資、會計系統，廣告費用按照會計流程進入財務資料庫
    3.正確的目的，正確的資料串聯，正確的分析模式
    4.了解對象代數i、自變數x、依變數y、時間代數t
    5.對象代數i，代表行銷環境中的參與人員，消費者、競爭對手、下游客戶等等，例如建立會員，以便觀察其行為模式
    6.時間代數t，時間軸越靠近，資料價值越高
    7.自變數x，通常為文字資料，需要數字化才可以使用，哪些資料須要如何定義，則為經常面臨的難題
    例如:產品需求受到價格波動影響，則x自變數為價格波動，而依變數y則為產品需求
</div>

<h3>消費者的異質性與動態性</h3>

<div>
    行銷主要分為掌握消費者的異質性以及動態性
    1.異質性:根據行為統計圖形，如果中間較高，兩側平均，峰值越高，則為常態分配，代表受眾行為越是相同
    ，若兩個統計圖形的峰值差距較大，則代表兩群受眾行為有較大差異，有必要做出更進一步的市場區隔
    ，每個人的出生、經驗、能力皆不同，故會有客製化的可能
    ，統計圖形的位置與離散程度由平均數和標準差來決定
    2.動態性:根據客戶成長的過程，會有不一樣的消費能力以及思維
    3.行銷策略:應該要判斷客戶目前在對產品的需求高低的一個週期性，過早或過晚推銷都會讓行銷策略成效大打折扣
    ，以及判斷行銷活動是不是過於頻繁，客戶目前的異質性以及動態性，又或者是要將價格敏感度不同的客群加以區分
    ，淡旺季、價格敏感、客戶的異質、動態性所綜合而成的情緒指標
    ，以及在研究理論之前，先注意領先指標，ex黃金受美元波動，以及各項領先指標的影響占比
    4.應避免:陷入過去的動態可以預測未來結果的迷思，以及因會計原則所造成的時間差
    ，以及與行銷環境中的競爭對手做出過多的衝突
    5.影響情緒指標的條件由影響占比排列:忌妒性消費、稀缺需求性、品質感受性消費、基本需求性消費、好奇新消費、報復性消費、慷慨型消費
</div>