<style>
    table,
    th,
    td {
        border: 5px solid rgb(238, 226, 147);
        height: 20%;

    }

    table {
        width: 100%;
    }

    .photo {
        width: 10%
    }

    .tag {
        width: 20%;
    }

    .topic {
        width: 60%;
    }

    .button {
        width: 10%;
    }

    body {
        background-color: rgb(238, 238, 238);
    }

    .container {
        margin-top: 10vh;
        background-color: rgb(238, 238, 238);
    }

    .btn {
        width: 100%;
    }
</style>

<div class="container">
    <table>
        <thead>
            <tr>
                <th class="photo"></th>
                <th class="tag">標籤</th>
                <th class="topic">標題</th>
                <th class="button">
                </th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>123</td>
                <td>123</td>
            </tr>
        </tbody>
    </table>
    <!-- 語文區 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_literature"
            aria-expanded="false" aria-controls="collapse_literature">
            請點我展開-初階催眠技術討論
        </button>
    <div class="collapse" id="collapse_literature">
        <div class="card card-body">
            <div class="container">
                <table>
                    <thead>
                        <tr>
                            <th class="photo"></th>
                            <th class="tag">標籤</th>
                            <th class="topic">標題</th>
                            <th class="button">
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>放影片廣告</td>
                            <td>123</td>
                            <td>123</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- 語文區 -->


    <!-- 數學區 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_math"
            aria-expanded="false" aria-controls="collapse_math">
            請點我展開-進階、基礎魔法討論
        </button>
    <div class="collapse" id="collapse_math">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 數學區 -->


    <!-- 生物區 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_creature"
            aria-expanded="false" aria-controls="collapse_creature">
            請點我展開-高階跨物種技術討論
        </button>
    <div class="collapse" id="collapse_creature">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 生物區 -->


    <!-- 物理區 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_physical"
            aria-expanded="false" aria-controls="collapse_physical">
            請點我展開-高階跨時空技術討論
        </button>
    <div class="collapse" id="collapse_physical">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 物理區 -->

    <!-- 化學區 -->

    <!-- 核能、電學-->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_chemical"
            aria-expanded="false" aria-controls="collapse_chemical">
            請點我展開-高階魔法、黑魔法技術討論
        </button>
    <div class="collapse" id="collapse_chemical">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 化學區 -->


    <!-- 電腦、機械區 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapse_computer_machine" aria-expanded="false" aria-controls="collapse_computer_machine">
            請點我展開-高階禁術應用、技術討論
        </button>
    <div class="collapse" id="collapse_computer_machine">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123</td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 電腦、機械區 -->



    <!-- 穿著、髮型、藝術、音樂與舞蹈區討論 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_art"
            aria-expanded="false" aria-controls="collapse_art">
            請點我展開-感官大師級討論
        </button>
    <div class="collapse" id="collapse_art">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 音樂與舞蹈區 -->

    <!-- 體育學區討論 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_sport"
            aria-expanded="false" aria-controls="collapse_sport">
            請點我展開-自信養成技術討論
        </button>
    <div class="collapse" id="collapse_sport">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 體育學區 -->

    <!-- 建築學區討論 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_constructure"
            aria-expanded="false" aria-controls="collapse_constructure">
            請點我展開-創世使者交流
        </button>
    <div class="collapse" id="collapse_constructure">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>123</td>
                        <td>123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 建築學區 -->


    <!-- 宗教區、毒品討論、心理學、腦部機制討論 -->
    <p>

        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_adult"
            aria-expanded="false" aria-controls="collapse_adult">
            請點我展開-成人技術討論
        </button>
    <div class="collapse" id="collapse_adult">
        <div class="card card-body">
            <table>
                <thead>
                    <tr>
                        <th class="photo"></th>
                        <th class="tag">標籤</th>
                        <th class="topic">標題</th>
                        <th class="button">
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>你又想色色?</td>
                        <td>又想幹嘛xd不可以瑟瑟</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>佛教</td>
                        <td>淨空法師</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>宗教</td>
                        <td>宗教的討論</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>毒品</td>
                        <td>看似無害的事物、性、大麻、多巴胺、內啡肽、強迫他人上車、強姦、綁票、暴力</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 宗教區 -->


</div>